<h2>ユーザ投稿詳細</h2>

<label>ユーザ名</label>
<%= link_to @post.user.name, admin_user_path(@post.user) %><br>

<label>カテゴリー</label>
<%= @post.category.category_name %><br>

<label>タイトル</label>
<%= @post.title %><br>

<label>エピソード</label>
<%= @post.body %><br>

<%= link_to "削除", admin_post_path(@post), method: :delete, data: {confirm: "不適切な投稿として削除します。よろしいですか？"} %>


<br><br>
---------------------------------
<br>
<!-- コメント件数 -->
コメント数：<%= @post.post_comments.count %>
<!-- コメント一覧 -->
<% @post.post_comments.each do |post_comment| %>
	<p><%= attachment_image_tag post_comment.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: '50x50' %>
	<%= post_comment.user.name %>さん</p>
	<p>コメント:<%= post_comment.comment %>
	(<%= post_comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>)
	</p>
	<p><%= link_to "削除", admin_post_post_comment_path(post_comment.post_id, post_comment.id), method: :delete, data: { confirm: '不適切なコメントとして削除します。よろしいですか？' } %></p>
<% end %>