<div  class="container center">
<h2><i class="far fa-edit"></i> マイページ編集</h2>

<% if @user.errors.any? %>
	<div>
		<p><%= @user.errors.full_messages.count %>errors prohibited this user from being saved:</p>
		<ul><% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(@user, url: user_user_path(@user)) do |f| %>
	<div class="row profile-edit">
		<div class="form-group col-md-4 col-md-offset-4">
		<div><%= f.label "プロフィール画像" %></div>
		<%= f.attachment_field :profile_image, class: "edit-icon" %>
		</div>
	</div>
	<div class="row profile-edit">
		<div class="form-group col-md-4 col-md-offset-4">
		<div><%= f.label "ユーザ名" %></div>
		<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
	<div class="row profile-edit">
		<div class="form-group col-md-4 col-md-offset-4">
		<div><%= f.label "自己紹介" %></div>
		<%= f.text_area :introduction, class: "form-control", :size => "5x5"%>
		</div>
	</div>
	<div class="row profile-edit">
		<div class="form-group col-md-4 col-md-offset-4">
		<div><%= f.label "メールアドレス" %></div>
		<%= f.email_field :email, class: "form-control" %>
		</div>
	</div>
	<div class="row profile-edit">
		<div class="form-group col-md-6 col-md-offset-3">
		<%= f.submit '保存する', class: "simple_square_btn5" %>
		</div>
	</div>
<% end %>

<br>
<%= link_to "退会希望の方はこちら", withdraw_user_user_path(@user) %>
</div>