<!-- 自分がログインしている場合のページ -->
<% if @user == current_user %>
	<h2>マイページ</h2>

	<%= flash[:notice] %><br>

	<label><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: '100x100' %></label><br>

	<label>ユーザ名</label>
	<%= @user.name %><br>

	<label>自己紹介</label>
	<%= @user.introduction %><br>

	<label>メールアドレス</label>
	<%= @user.email %><br>

	<label>フォロー</label>
	<%= link_to @user.follower.count, user_user_follows_path(@user) %><br>

	<label>フォロワー</label>
	<%= link_to @user.followed.count, user_user_followers_path(@user) %><br>

	<%= link_to "マイページ編集", edit_user_user_path(@user) %><br>

<!-- 他のユーザの場合 -->
<% else %>
	<h2>ユーザ情報</h2>
	<label><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: '100x100' %></label><br>

	<label>ユーザ名</label>
	<%= @user.name %><br>

	<label>自己紹介</label>
	<%= @user.introduction %><br>

	<label>フォロー</label>
	<%= link_to @user.follower.count, user_user_follows_path(@user) %><br>

	<label>フォロワー</label>
	<%= link_to @user.followed.count, user_user_followers_path(@user) %><br>

	<% if current_user.following?(@user) %>
		<%= link_to 'フォロー外す', unfollow_path(@user.id), method: :delete %>
	<% else %>
		<%= link_to 'フォローする', follow_path(@user.id), method: :post %>
	<% end %>
<% end%>




