<div  class="container center">

<h2><%= image_tag("post-edit.png", size: '38x38', class: "mypage-icon") %> 投稿編集ページ</h2>

<%= image_tag("test-image.jpg", size: '500x300', class: "edit") %>

<% if @post.errors.any? %>
	<div>
		<p><%= @post.errors.full_messages.count %>errors prohibited this post from being saved:</p>
		<ul><% @post.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(@post, url: user_post_path(@post)) do |f| %>
	<div class="row post-edit">
		<div class="form-group col-md-6 col-md-offset-3">
			<div><%= f.label "タイトル" %></div>
			<%= f.text_field :title, class: "form-control" %>
		</div>
	</div>
	<div class="row post-edit">
		<div class="form-group col-md-6 col-md-offset-3">
			<div><%= f.label "カテゴリー" %></div>
			<%= f.collection_select :category_id, @posting_category, :id, :category_name, {}, class: "form-control" %>
		</div>
	</div>
	<div class="row post-edit">
		<div class="form-group col-md-6 col-md-offset-3">
			<div><%= f.label "言葉にまつわるエピソード" %></div>
			<%= f.text_area :body, class: "form-control", :size => "20x10" %>
		</div>
	</div>
	<div class="row post-edit">
		<div class="form-group col-md-6 col-md-offset-3">
			<%= f.submit "変更する", class: "simple_square_btn5" %>
		</div>
	</div>
<% end %>
</div>