<h2>投稿編集ページ</h2>

<% if @post.errors.any? %>
	<div>
		<p><%= @post.errors.full_messages.count %>errors prohibited this post from being saved:</p>
		<ul><% @post.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(@post, url: user_post_path(@post)) do |f| %>

	<%= f.label "タイトル" %>
	<%= f.text_field :title %><br>

	<%= f.label "カテゴリー" %>
	<%= f.collection_select :category_id, @posting_category, :id, :category_name %>

	<%= f.label "言葉に関するエピソード" %>
	<%= f.text_area :body %><br>

	<%= f.submit "変更する" %>

<% end %>