<div class="container center">

	<h2><i class="fab fa-pagelines"></i> <%= @post.user.name %>さんの投稿</h2>

	<%= flash[:post] %><br>
	<%= flash[:post_edit] %><br>

	<div class="word-box">
		<div class="personal-word"><%= @post.title %></div>
		<div class="personal-word1"><%= simple_format(@post.body) %></div>
		<div class="personal-word2">カテゴリー：<%= link_to @post.category.category_name, user_category_path(@post.category) %><br>
		ユーザ：<%= link_to @post.user.name, user_user_path(@post.user) %><br>
		</div>
		<!-- いいね機能 ここから-->
		<div id="post_<%= @post.id %>"><%= render 'user/posts/favorite', post: @post %>
		</div>
	</div>

	<!-- 編集ボタン・削除ボタンの表示 -->
	<div class="personal-word2">
		<% if @post.user == current_user %>
		<%= link_to "編集する", edit_user_post_path(@post) %> | 
		<%= link_to "削除する", user_post_path(@post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
		<% end %>
	</div>

	<!-- コメントが空白の場合のエラーメッセージ -->
	<% if @post_comment.errors.any? %>
	<div>
		<div><%= @post_comment.errors.count %> error prohibited this obj from being saved:
		</div>
		<ul>
			<% @post_comment.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<!-- コメント投稿フォーム -->
	<div>
	<% if user_signed_in? %>
		<!-- コメント入力欄を表示するためのrender -->
		<%= render partial: 'user/post_comments/form', locals: { post_comment: @post_comment, post: @post } %>
	<% end %>
		<div id="comments_area">
		<!-- 投稿されたコメント一覧を表示するためのrender -->
			<%= render partial: 'user/post_comments/index', locals: { post_comments: @post_comments } %>
		</div>
	</div>
</div>


